
@media screen and (max-width: 760px) {
  #graphic {
    display: none;
    visibility: hidden;
  }

  #viz g{ 
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  #sunimg {
    opacity: 0;
    display:none;
    visibility: hidden;
  }

  .sunimg{
    opacity: 0;
    display:none;
    visibility: hidden;
  }

  .container-div-2 {
    position: relative;
    margin-top: 400rem;
    width: 120rem;
    z-index: 99;
  }
  p {
    width: 100%;
    margin: none;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Amiri', serif;
    color: #0A0908;
    line-height: 1.25;
    text-align: justify;
    position: relative;
    /* font-weight: 200; */
  }
  #body {
    display: block;
  }
}

.fixed #viz #sunimg{
  /* display: visible; */
  visibility: visible;
}

a {
  color: navy;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
*{
  margin:0;
  padding:0;
}
html,
body{
   height: 70rem;
   padding: 0;
   scroll-behavior: smooth;
   background: #C8D0CC;
   color: #0A0908;
}


p {
  /* width: 100%; */
  margin: none;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Amiri', serif;
  color: #0A0908;
  line-height: 1.25;
  text-align: justify;
  position: relative;
  /* font-weight: 200; */
}
h1{
  color: #49111C;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: #49111C;
  font-size:36px;
}


h3{
  color: #0A0908;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
}

h2{
  line-height: 1.25;
  padding-top: 15px;
  font-weight: 300;
  font-familY: 'Amiri', serif;
  color: #0A0908;
  font-size: 18px;
}

b{
  color: #49111C;
}


#p1 text{
  color: #0A0908;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 18px;
}




.quote {
  /* margin-left: 15px; */
  border-left: solid;
  padding-left: 9px;
  border-width: 3px;
  border-color: darkred;
  /* top: 25rem;
  position: sticky;
  margin-bottom: -30vh; */
}

h5{
  color: #A9927D;
}
#p3 {
  max-width: 42rem;
  margin: -24rem;
  text-align: justify;
  font-family: 'Amiri', serif;
  color: #0A0908;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  top: 0rem;
  margin-top: 4rem;
}



#p5 .div5 h1{
  /* margin-left: -28vw; */
  margin-top:2rem;
  width: 54rem;
  text-align: left;
  font-family: 'Amiri', serif;
  color: #0A0908;
  font-size: 18px;
  font-weight: 300;
   position: relative;
  margin-bottom: 10px;
}


#p6 #p7{
  width: 44rem;
  text-align: left;
  font-family: 'Amiri', serif;
  color: #0A0908;
  font-size: 18px;
  font-weight: 300;
  /* position: relative; */
}


#stigma_viz {
  margin-top: 2px;
  /* position: absolute; */
}
   
.demog-split{
  display: inline-flex;
  direction: row;
}

.demog-left{
  display: flex;
  order:1;
}
.demog-right{
  display: flex;
  order:2;
}

svg{
  padding: 10px;
}
/* text{
  font-size: 40px;
} */

.headerr{
  font-size: 36px;
  letter-spacing: 1px;
  font-family: Poppins, "Poppins Regular", "Poppins-Regular", "Lexend Deca", "Lexend Deca Regular", "LexendDeca-Regular", Mullish, "Helvetica Neue", Helvetica, arial, sans-serif;
color: black;
}

.tooltip{
  fill: white;
  border: solid;
  border-color: #49111C;
  border-width: 3px;
}

.subheading i {
  font-weight: 600;
  font-family: 'Amiri', 'serif';
  color:#5E503F;
  font-size: 18px;
}


#p3 strong {
    /* font-family: 'Open-Sans', 'sans-serif'; */
    font-weight: 500;
    color: #5E503F;
    font-size: 18px;

}
#graphic {
  max-width:  600px;
  width: 100%;
  position:   relative; 
  height:  100%;
  position:  relative; 
  margin:6rem;
  /* z-index: -1; */
}

.div4{
  text-align: center;
  margin: 0 auto;
}

.div1{
  z-index:99;
}


.div2{
  z-index:99;
}
.container {
  height: 100%;
  max-width: 600px;
  width: 100%;
  margin-top: 100px;
  padding: 0;
  position: absolute;
  height: 100%;
  /* line-height: 1.5; */
  left: 610px;
}
.container div {
  height: 100%;
  display: block;
  padding: 0 45px;
  z-index: 99;
}

.container-div-2 {
  position: relative;
  margin-left: 22.3rem;
  max-width: 60rem;
  margin-top: 180rem;
  width: 44rem;
  z-index: 99;
  position: -webkit-sticky;
  position: sticky;
  font-family: 'Amiri', 'serif';
}
.fixed {
  position: fixed;
  max-width: 500px;
  height: 500px;
  top: 50px;
}
   

/* NEW STUFF */
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

.fill {
  fill: #49111C;
}

.graticule {
  fill: none;
  stroke: #fff;
  stroke-width: .2px;
  stroke-opacity: .7;
}

.land {
  fill: #0A0908;
}

.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.arc {
	stroke: #5E503F;
	fill:	#A9927D;
	stroke-width: 1.4;
}
