@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
*{
  margin:0;
  padding:0;
}
html,
body{
   height: 100%;
   padding: 0;
   scroll-behavior: smooth;
   background: #F2F4F3;
   color: #0A0908;
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
}

h1{
  color: #49111C;
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  color: #49111C;
  font-size:36px;
}


h2{
  line-height: 1.25;
  padding-top: 15px;
  font-weight: 300;
  font-familY: 'Open-Sans', sans-serif;
  color: #0A0908;
  font-size: 18px;
}

b{
  color: #49111C;
}
#p1 {
    font-family: 'Open-Sans', sans-serif;
    color: #0A0908;
    font-size: 16px;
    font-weight: 300;
  position: absolute;
    position: sticky;
    top: 24vh;
    margin-bottom: 240px;
}
p {
  color: #0A0908;
}

#p2 {
  font-family: 'Open-Sans', sans-serif;
  color: #0A0908;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  position: sticky;
  top: 22vh;
  margin-bottom: 2vh;
}


.quote {
  margin-left: 15px;
  border-left: solid;
  padding-left: 9px;
  border-width: 3px;
  border-color: darkred;
  top: 56vh;
  position: sticky;
  margin-bottom: -30vh;
}

#p3 {
  margin-left: -28vw;
  width: 54vw;
  text-align: justify;
  font-family: 'Open-Sans', sans-serif;
  color: #0A0908;
  font-size: 18px;
  font-weight: 300;
  position: relative;
  position: sticky;
  top: 20vh;
  margin-top: 400px;
}



#p5{
  margin-left: -28vw;
  margin-top:8vh;
  width: 54vw;
  text-align: left;
  font-family: 'Open-Sans', sans-serif;
  color: #0A0908;
  font-size: 18px;
  font-weight: 300;
  /* position: relative;
  position: sticky;
  top: 10vh; */
  margin-bottom: 10px;
}


#p6{
  margin-left: -28vw;
  width: 54vw;
  text-align: left;
  font-family: 'Open-Sans', sans-serif;
  color: #0A0908;
  font-size: 18px;
  font-weight: 300;
  position: relative;
}

#stigma_viz {
  margin-top: 2px;
  position: absolute;
}
   

svg{
  padding: 20px;
}
text{
  font-size: 40px;
}
strong{
  /* font-family: 'Open-Sans', 'sans-serif'; */
  font-weight: 500;
  color: #5E503F;
  font-size: 17px;
}

#p3 strong {
    /* font-family: 'Open-Sans', 'sans-serif'; */
    font-weight: 500;
    color: #5E503F;
    font-size: 18px;

}
#graphic {
  max-width:  600px;
  width: 100%;
  position:   relative; 
  height:  100%;
  position:  relative; 
  margin:6vw;
}
.container {
  height: 100%;
  max-width: 600px;
  width: 100%;
  margin-top: 160px;
  padding: 0;
  position: absolute;
  height: 100%;
  line-height: 1.5;
  left: 610px;
}
.container div {
  height: 100%;
  display: block;
  padding: 0 45px;
}
.fixed {
  position: fixed;
  max-width: 500px;
  height: 500px;
  top: 50px;
}


   